<!DOCTYPE html>
<html>

   <head>
      <title>URL Shortener Microservice | Backend Challenges | Free Code Camp</title>
      <link rel="shortcut icon" href="" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
         <h1>URL Shortener</h1>
         <h3>How to use:</h3>
         <p>
           After the url enter the following:
           <ul>
             <li>/new/http://www.URL.com</li>
             <li>/new/https://www.google.com</li>
           </ul>
           it will return the following object:
           <ul>
             <li>{"original_url": "http://www.URL.com", "short_url": "https://longing-vinyl.glitch.me/4321"}</li>
             <li>{"original_url": "https://www.google.com", "short_url": "https://longing-vinyl.glitch.me/1234"}</li>
           </ul>
         </p>
      </div>
   </body>

</html>
